<%= form_for [@user, @recipe], :html => { :multipart => true } do |f|%>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, :class => "form-control", :rows => 8 %>
  </div>
  <div class="form-group">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, :class => "form-control", :rows => 8 %>
  </div>
  <div id="photo_upload">
    <%= f.file_field :photo %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
