<h1>Add a recipe</h1>

<%= form_for [@user, @recipe] do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :ingredients %>
  <%= f.text_area :ingredients %>
  <%= f.label :instructions %>
  <%= f.text_area :instructions %>
  <%= f.submit %>
<% end %>
