<div class="container"
  <h2><%= @recipe.name %></h2>
  <%= image_tag @recipe.photo.url(:medium) %>

  <p><%= @recipe.ingredients %></p>

  <p>
      <%= @recipe.instructions %>
  </p>

  <div>
    <%= link_to "Edit", edit_user_recipe_path(@user, @recipe) %>

    <%= link_to "Delete", user_recipe_path(@user, @recipe),
                          :data => {:confirm => "You sure?",
                                    :method => "delete" }%>
  </div>

  <% if @recipe.tags.any? %>
    <h4>Here are your tags:</h4>

    <ul>
        <% @recipe.tags.each do |tag| %>
          <li><%= link_to tag.name %></li>
        <% end %>
    </ul>
  <% else %>
    <p>No tags yet!</p>
  <% end %>

  <p><%= link_to "Return to recipe list", user_path(@user) %>
</div>
