<% content_for(:title, "User | Recipes") %>

<h1><%= @user.email %></h1>

<% if @user.recipes.any? %>
  <h4>Here are your recipes:</h4>

  <ul>
      <% @user.recipes.each do |recipe| %>
        <%= image_tag recipe.photo.url(:thumb) %>
        <li><%= link_to recipe.name, user_recipe_path(@user, recipe.id) %></li>
      <% end %>
  </ul>
<% else %>
  <p>No recipes yet!</p>
<% end %>

<p><%= link_to "Add recipe", new_user_recipe_path(@user) %>

<p><%= link_to "Log out", session_path(session), :data => {:method => "delete"} %></p>
